@import url('https://fonts.googleapis.com/css?family=Nunito Sans:700|Nunito Sans:400');

body {
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.btn {
  color: #FAFAFA;
}

h1 {
  color: #030303 !important;
  font-size: 100px;
  font-weight: bold;
  line-height: 0.95;
  margin-bottom: 50px;
}

h2 {
  color: #030303 !important;
  font-size: 60px;
  font-weight: bold;
  line-height: 0.95;
  margin-bottom: 30px;
}

p {
  color: #999999 !important;
  font-size: 24.28px;
  line-height: 2.0;
  margin-bottom: 50px;
}

:root[data-theme="light"] {
  --text: #000000;
  --background: #fafafa;
  --primary: #003975;
  --secondary: #97c0d8;
  --accent: #b5995a;
}
:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #050505;
  --primary: #8ac2ff;
  --secondary: #275068;
  --accent: #a58a4a;
}

.fade-in-image {
  animation: fadeInDown 2s; 
}

.fade-in-image-t { animation: fadeInDownT 2s; }

.fade-in-image-a { animation: fadeInDownA 2s; }

@keyframes fadeInDownA {
  0% {
     opacity: 0;
     transform: translate(5%, 100px);
  }
  100% {
     opacity: 1;
     transform: translate(5%, -25%);
  }
} 

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translate(6.5%, 100px);
     position: fixed;
  }
  100% {
     opacity: 1;
     transform: translate(6.5%, 0%);
     position: fixed;
  }
} 

@keyframes fadeInDownT {
  0% {
     opacity: 0;
     transform: translate(30%, 100px);
  }
  100% {
     opacity: 1;
     transform: translate(30%, -25%);
  }
} 
  
