  .fade-in-image {
    animation: fadeInDown 2s;
  }

  h2 {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-variation-settings:
      "slnt" 0 !important;
  }

  .fade-in-image-t {
    animation: fadeInDownT 2s;
  }

  .pcard {
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  }
  
  .fade-in-image-a {
    animation: fadeInDownA 2s;
  }

  h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 0.95;
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 60px;
    font-weight: bold;
    line-height: 0.95;
    margin-bottom: 30px;
  }
  
  p {
    color: #888888;
    font-size: 24.28px;
    line-height: 2.0;
    margin-bottom: 50px;
  }
  
  @keyframes fadeInDownA {
    0% {
      opacity: 0;
      transform: translate(-75%, 100px);
    }
  
    100% {
      opacity: 1;
      transform: translate(-150%, -25%);
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate(0, 100px);
      position: fixed;
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0%);
      position: fixed;
    }
  }

  .card-button {
    bottom: 5%;
  }
  
  @keyframes fadeInDownT {
    0% {
      opacity: 0;
      transform: translate(75%, 100px);
    }
  
    100% {
      opacity: 1;
      transform: translate(150%, -25%);
    }
  }

  .blue {
    color: #003874;
  }
  
  .gold {
    color: #b49759;
  }

  button:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(30 58 138 / var(--tw-bg-opacity)) !important;
  }

  .card-button:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(30 58 138 / var(--tw-bg-opacity)) !important;
  }

  .toggle:hover {
    background: none !important;
  }
/* 
  .hoverBold:hover {
    --tw-bg-opacity: 1 !important;
    color: rgb(180 151 90 / var(--tw-bg-opacity)) !important;
  } */

  .navUnder {
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
  }

  .navUnder:after {
    content: "";
    position: absolute;
    background-color: #b49759;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s
  }

  .navUnder:hover:after {
      width: 100%;
  }

  @media (max-width:768px) {

    body {
      overflow-x: hidden;
    }

    .page-content {
      width: 100%;
    }


    p {
      color: #777777;
      font-size: 16px;
      line-height: 2.0;
      margin-bottom: 12px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    .card-button {
      bottom: 5%;
      padding-top: 7px !important;
      padding-bottom: 7px !important;
    }

    .home {
      transform: translateY(20%);
    }

    .toggle {
      background: none;
    }

    .nav-list {
      background-color: white;
    }

    h1 {
      font-size: 35px !important;
      font-weight: bold;
      line-height: 0.95;
      margin-bottom: 12px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
    
    h2 {
      font-size: 20px !important;
      font-weight: bold;
      line-height: 0.95;
      margin-bottom: 16px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    a:not(.log) {
      margin-bottom: 16px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    .log {
      scale: 1.5;
      padding-right: 0 !important;
      margin-right: 0 !important;
    }

    div:not(.page-content, .main-content, .fog) {
      padding-bottom: 20px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    *:not(button, .card, .card-button, body, html, .page-content, .log) {
      padding-left: 4px !important;
      padding-right: 4px !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    iframe {
      width: 350px;
      max-height: 400px;
    }

    .logo {
      scale: 85%;
      transform: translate(-150px, 50px);
      padding-bottom: 35px;
    }

    .hero-title {
      color: white !important;
      min-width: 300px;
      transform: translateX(-160px);
    }

    .left {
      margin-right: 0px;
    }

    .card-button {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .pcard {
      height: 300px;
      min-width: 115px !important;
    }
    
    .pinfo {
      transform: translateY(125px);
    }

    .silver {
      display: none;
    }

    .tracking-tight {
      font-size: 20px;
      line-height: 20px;
    }

    .bronze {
      display: none;
    }

    .join {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .ggold {
      display: none;
    }

    .sil {
      text-align: center !important;
      justify-content: center !important;
    }

    .gol {
      text-align: center !important;
      justify-content: center !important;
    }

    .bro {
      text-align: center !important;
      justify-content: center !important;
      display: block;
    }

    .gg {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    .wh {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }

    #navbar-default {
      align-items: center;
    }

    .block:not(.log) {
      color: #003874 !important;
    }

    .ticket {
      font-size: 20px !important;
      line-height: 28px !important;
      margin-right: 10%;
    }

    .tickd {
      transform: translateY(-175px);
    }

    .top {
      height: 25%;
      overflow-y: hidden;
    }

    .cal {
      display: none;
    }

    .page-header {
      width: 100%;
    }

    footer {
      padding-top: 0;
      margin-top: 0;
    }

    .cen {
      margin-left: 10px;
      margin-right: 10px;
    }

    .bot {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .profoot {
      padding-top: 0;
      margin-top: 0;
    }

    .card {
      max-width: 150px !important;
      margin-left: 10px;
      margin-right: 10px;
    }

    .left {
      padding-left: 5px;
    }

    .right {
      padding-right: 5px;
    }

    .body {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .bott {
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }