.fade-in-image {
    animation: fadeInDown 2s;
  }
  
  html {
    width: 100%;
    overflow-x: hidden;
  }
  
  .fade-in-image-t {
    animation: fadeInDownT 2s;
  }
  
  .fade-in-image-a {
    animation: fadeInDownA 2s;
  }

  h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 0.95;
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 60px;
    font-weight: bold;
    line-height: 0.95;
    margin-bottom: 30px;
  }
  
  p {
    color: #888888;
    font-size: 24.28px;
    line-height: 2.0;
    margin-bottom: 50px;
  }
  
  @keyframes fadeInDownA {
    0% {
      opacity: 0;
      transform: translate(-75%, 100px);
    }
  
    100% {
      opacity: 1;
      transform: translate(-150%, -25%);
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate(0, 100px);
      position: fixed;
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0%);
      position: fixed;
    }
  }
  
  @keyframes fadeInDownT {
    0% {
      opacity: 0;
      transform: translate(75%, 100px);
    }
  
    100% {
      opacity: 1;
      transform: translate(150%, -25%);
    }
  }

  .blue {
    color: #003874;
  }
  
  .gold {
    color: #b49759;
  }

  button:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(30 58 138 / var(--tw-bg-opacity)) !important;
  }

  @media (max-width:768px){

    p {
      color: #777777;
      font-size: 16px;
      line-height: 2.0;
      margin-bottom: 12px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    h1 {
      font-size: 35px !important;
      font-weight: bold;
      line-height: 0.95;
      margin-bottom: 12px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
    
    h2 {
      font-size: 20px !important;
      font-weight: bold;
      line-height: 0.95;
      margin-bottom: 16px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    a {
      margin-bottom: 16px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    div {
      padding-bottom: 20px !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    *:not(button, .card, .card-button) {
      padding-left: 4px !important;
      padding-right: 4px !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    iframe {
      width: 350px;
      max-height: 400px;
    }

    .logo {
      scale: 85%;
      transform: translate(-150px, 50px);
      padding-bottom: 35px;
    }

    .hero-title {
      color: white !important;
      min-width: 300px;
      transform: translateX(-100px);
    }

    .left {
      margin-right: 0px;
    }

    .card-button {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .pcard {
      height: 300px;
      min-width: 115px !important;
    }
    
    .pinfo {
      transform: translateY(125px);
    }

    .silver {
      display: none;
    }

    .pcard {
      background-image: url('/public/assets/img/unnamed.jpg') !important;
    }

    .bronze {
      display: none;
    }

    .join {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .ggold {
      display: none;
    }

    .sil {
      text-align: center !important;
      justify-content: center !important;
    }

    .gol {
      text-align: center !important;
      justify-content: center !important;
    }

    .bro {
      text-align: center !important;
      justify-content: center !important;
      display: block;
    }

    .gg {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    .wh {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }

    #navbar-default {
      background-color: white;
    }

    .block {
      color: #003874 !important;
    }

    .ticket {
      font-size: 20px !important;
      line-height: 28px !important;
    }

    .tickd {
      transform: translateY(-175px);
    }

    .top {
      height: 25%;
      overflow-y: hidden;
    }

    .cal {
      display: none;
    }

    .page-content {
      width: 105vw;
      transform: translateX(-5vw);
    }

    .page-header {
      width: 105vw;
      transform: translateX(-5vw);
    }

    footer {
      transform: translateY(8vh);
      padding-top: 0;
      margin-top: 0;
    }

    .cen {
      margin-left: 10px;
      margin-right: 10px;
    }

    .bot {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .profoot {
      padding-top: 0;
      margin-top: 0;
    }

    .card {
      max-width: 150px !important;
      margin-left: 10px;
      margin-right: 10px;
    }

    .left {
      padding-left: 5px;
    }

    .right {
      padding-right: 5px;
    }

    .body {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .bott {
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }